# Dependencies
/node_modules
/pnpm-lock.yaml

# Build
/build

# Configuration
.husky

# Cache
.cache
.eslintcache
tsconfig.tsbuildinfo

# Cache
.cache
.eslintcache
tsconfig.tsbuildinfo

# Miscellaneous
.vscode-test
