# Node
node_modules/*
!node_modules/important-dependency/

# Testing
*/tests/**
vitest.config.mjs

# Configuration files
.vscode/**
.husky/**
.github/**
.prettierignore
.prettierrc
.eslintrc
.eslintignore
.eslintcache
.gitignore
.vscode-test.mjs
.lintstagedrc.js
pnpm-lock.yaml
tsconfig.json
tsup.config.ts

## TS files
src/**
